<form class="example-form">
  <mat-form-field>
    <mat-chip-list #chipList style="height:auto">
      <!--<mat-chip style="margin-top:0.4em;" *ngFor="let server of  this.dataService.displayServers" (removed)="removeOption(option)">

    <span>{{server.name}}</span>

    <mat-icon matChipRemove>cancel</mat-icon>
  </mat-chip>-->
      <input #autocompleteInput type="text" placeholder="Search" style="color:white" aria-label="Number" matInput [formControl]="myControl"
             [matAutocomplete]="auto" [matChipInputFor]="chipList">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>

  </mat-form-field>

</form>
