<!--<app-select (domainChangeEvent) ="filterByDomain($event)"></app-select>-->

<div class="progress">
  <div class="progress-bar" role="progressbar" [ngStyle]="getProgressBarStyle(0)">
    {{(statsInDomain[0]/numServersInSelectedDomain) | percent }} Done
  </div>
  <div class="progress-bar" role="progressbar" [ngStyle]="getProgressBarStyle(1)">
    {{(statsInDomain[1]/numServersInSelectedDomain)| percent}} Waiting for restart
  </div>
  <div class="progress-bar" role="progressbar" [ngStyle]="getProgressBarStyle(2)">
    {{(statsInDomain[2]/numServersInSelectedDomain)| percent}} Undeployed
  </div>
</div>

<table *ngIf="selectedDomain != ''; else chooseDomainMsg">
  <tr>
    <th *ngFor="let prop of keys">
      {{prop}}
    </th>
  </tr>
  <tr *ngFor="let server of displayServers">
    <td *ngFor="let prop of keys" [ngStyle]="{'color':prop=='RebootPerformed'
        ? (server[prop]==false ? 'red' : 'green') :
        (prop=='PMDeployed' ? (server[prop]==true ? 'green' : 'red' ) : '')}">
      <!--<span contenteditable="true" (keyup)="changeValue(id, 'name', $event)" (keydown.enter)="updateList(id, 'name', $event)"></span>-->
      {{server[prop]}}
    </td>
  </tr>
</table>

<ng-template #chooseDomainMsg><div style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;text-align:center">Choose a domain to start.</div></ng-template>
